
img.carImage{
    height:125px;
    max-width: initial;
    pointer-events: none;
}
.title{
    font-weight:bold;
    text-transform: uppercase;
}

.content{
    padding:8px;
    background-color:  rgb(241, 250, 161);
    border-radius: 0.25rem;
}
